body, h1, h2, h3, h4, h5, h6, h7{
    font-family: square peg;
 }/body>
body {background: #ececec;}
h1, h2, h3, h4, h5 {
  border-bottom: 1px solid #ccc;
  color: #de26ef;
  padding-bottom: 8px
}
.container {
  margin: auto;
  width: 50px;

  
}
.listFlex {display: flex; justify-content: center;}

img {
  width: 60%;
}
